mat-card{
    margin: 2%;
}

th {
    background-color: black !important;
    color: white;
  }

  .spacer{
    flex: 1 1 auto;
  }

  button{
    margin: 3px;
  }

  .double-underline {
    border-bottom: 3px double black; /* Adjust thickness and color as needed */
}